/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Header styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  background-color: #282c34; /* Dark background */
  color: white;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.logo a {
  font-size: 26px;
  font-weight: bold;
  color: #61dafb; /* Light accent color */
  text-decoration: none;
}

.navigation {
  display: flex;
  align-items: center;
  margin-left: 200px;
}

/* Icon styling */
.icon {
  position: relative;
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Profile Image Styling */
.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #61dafb; /* Accent color */
}

.default-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #61dafb; /* Accent color */
  color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

/* Dropdown styling */
.dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #444; /* Darker dropdown background */
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  width: 150px;
  z-index: 10;
}

.notification-dropdown ul,
.profile-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.notification-dropdown li,
.profile-dropdown li {
  padding: 10px 15px;
  cursor: pointer;
}

.notification-dropdown li:hover,
.profile-dropdown li:hover {
  background-color: #555; /* Hover effect for dropdown items */
}

.show-all {
  text-align: center;
  color: #61dafb;
  padding: 10px;
}

.show-all:hover {
  text-decoration: underline;
}

/* Logo Image Styling */
.logo-image {
  width: 100px; /* Adjust the width as per your requirement */
  height: auto; /* Maintain aspect ratio */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .header {
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
  }

  .navigation {
    margin-top: 0;
    flex-direction: row-reverse; /* This pushes the icons to the right side */
    width: 100%;
    justify-content: flex-end; /* Ensures icons are placed at the right */
  }

  .icon {
    margin-left: 10px;
  }

  .logo {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start; /* Ensures the logo stays on the left side */
  }
}
