/* General styling for the Attendance page */
.attendance-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: 20px auto; /* Centers the component */
  background-color: #dfd3e259;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
}

/* Calendar styles */
.calendar {
  width: 100%;
  max-width: 900px;
  padding: 10px;
  background-color: #57525217; 
  border-radius: 10px;
  box-shadow: 0 4px 10px rgb(217, 214, 218);
}

/* Form styling */
.attendance-form, .leave-form {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
}

/* Styling for form inputs and labels */
.form-group {
  margin-bottom: 15px;
}

.form-input, .leave-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-btn, .enter-attendance-btn, .enter-leave-btn {
  background-color: #4caf50; /* Green */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover, .enter-attendance-btn:hover, .enter-leave-btn:hover {
  background-color: #45a049; /* Darker green */
}

/* Toast message styling */
.toast {
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .attendance-page {
    margin-left: 20px;
    margin-right: 20px;
  }

  .calendar {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .attendance-page {
    margin: 20px;
  }

  .calendar {
    padding: 5px;
  }
}

@media (max-width: 480px) {
  .attendance-page {
    margin: 10px;
    margin-top: 50px;
    margin-left: 10px;
  }

  .calendar {
    padding: 5px;
    margin-left: 10px;
  }

  .react-calendar__navigation button {
    font-size: 14px;
  }
}
