/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f4f4f4;
  }
  
  .register-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 50px; /* Margin for top, left, right, bottom */
  }
  
  .register-container {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 28px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input, select {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  input[type="file"] {
    padding: 10px;
    border: none;
  }
  
  button {
    padding: 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    .register-container {
      padding: 20px;
    }
  
    h2 {
      font-size: 24px;
    }
  
    input, select {
      font-size: 14px;
    }
  
    button {
      font-size: 14px;
    }
  }
  