/* General sidebar styles */
.sidebar {
  width: 250px; /* Set the width of the sidebar */
  height: calc(100vh+100px); /* Full height */
  background-color: white; /* White background */
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: 'Arial', sans-serif;
  z-index: 999;
  transition: transform 0.3s ease; /* Smooth transition for slide-in effect */
}

.sidebar-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.sidebar-logo-image {
  max-width: 80px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 50%;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 15px;
}

.sidebar-links a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 90%;
}

.sidebar-links a:hover {
  background-color: #f4f4f4;
}

.sidebar-links a.active {
  color: #7C3BD3;
}

/* Hamburger button styles */
.hamburger {
  display: none; /* Hide hamburger button by default */
  background-color:#7C3BD3;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  padding: 12px;
  width: 50px;
  height: 50px;
}
.hamburger:hover {
  background-color: #7C3BD3;
  }
.sidebar-links a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center; /* Vertically center the icon and text */
  gap: 15px;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 90%;
}

/* Desktop view */
@media (min-width: 768px) {
  .sidebar {
    transform: translateX(0); /* Sidebar visible on desktop */
    height: 100vh;
  }
  .hamburger {
    display: none; /* No hamburger button on desktop */
  }
}

/* Mobile view (For smaller screens) */
@media (max-width: 767px) {
  .sidebar {
    width: 200px; /* Reduced width for mobile */
    transform: translateX(-100%); /* Sidebar hidden by default */
    position: absolute;
    height: 100vh;
  }
  
  .sidebar.open {
    transform: translateX(0); /* Slide in sidebar */
  }

  .hamburger {
    display: block; /* Show hamburger button for mobile */
  }
}
