/* src/components/Spinner.css */
.spinner-container {
    position: fixed; /* Fixes the container to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; /* Uses Flexbox to center the spinner */
    align-items: center; /* Centers vertically */
    justify-content: center; /* Centers horizontally */
    background: rgba(0, 0, 0, 0.5); /* Optional: Adds a semi-transparent background */
  }
  
  .loader {
    width: 48px;
    height: 48px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    animation: roll 1s ease-in-out infinite alternate;
  }
  
  .loader:after {
    content: "";
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 5px solid;
    border-color: #701f70 transparent;
  }
  
  @keyframes roll {
    0% {
      transform: translateX(-150%) rotate(0deg);
    }
    100% {
      transform: translateX(150%) rotate(360deg);
    }
  }
  
  