.payroll-page {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d082e6;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .payroll-form {
    width: 100%;
    max-width: 600px;
    background-color: #ffdb39;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(181, 65, 185, 0.658);
  }
  
  .payroll-form div {
    margin-bottom: 15px;
  }
  
  .payroll-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .payroll-form input,
  .payroll-form select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .payroll-form button {
    padding: 10px 20px;
    background-color: #4caf50; /* Stylish button color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .payroll-form button:hover {
    background-color: #45a049;
  }
  